                                                                  /* Trick's In Web Dev */

/* To Make Scrool Bar Having Different Color  */

body::-webkit - scrollbar { 
  background color: transparent
}

body::-webkit -scrollbar-thumb{
  background color:linear-gradient (red, blue, green)
}


/* filter is a selector plays a lot good  */

/* clip-path  = makes a lot of shape */

/* Tricks: Image in Text */

h1 {
    background-image:- url("path ") 
    Background-size :- Cover 
    Background-position:- Center 
    Background-clip :- text
    Webkit-background clip :- text
    Color: transparent 
}
